:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .content {
    display: flex;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  html,
  body {
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      font-family:'Rubik_Spray_Paint', serif;
      font-size: 30px;
  }

  body {
      background: url('./../assets/images/bg.jpg') no-repeat center right rgb(59 59 59 / 20%);
      background-size: cover;
      background-blend-mode: multiply;
      color: #00548c;
  }

  .content {
      margin: 0 auto;
      padding: 50px 0;
      width: 100%;
      height: 100%;
  }

  .content .description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .content .chars {
      width: 100%;
      background: url('./../assets/images/chars.png') no-repeat center center;
      background-size: contain;
      height: 300px;
      margin-top: auto;
  }

  .content .shield {
      width: 240px;
      height: 320px;
      margin: 65px;
      position: relative;
  }

  .content .shield .shield-img {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  .content .shield .name-container {
    margin-top: 78px;
  }

  .content .shield .name {
      margin: 0 auto;
      position: relative;
      z-index: 9;
      text-align: center;
  }

  .content .name .letter__small {
    width: 20px;
  }

  .content .description .title {
      margin-bottom: 20px;
  }

  .content .description .subtitle .letter--space-before {
      margin-left: 20px;
  }
  .content .letter {
      width: 50px;
  }
  
  .content .letter--space-before {
        margin-left: 50px;
  }
  
  .content .letter--space-before__small {
      margin-left: 20px;
  }
  
  .content .letter__small {
      width: 20px;
  }
  .buttons button {
      background-color: white;
      width: 200px;
      height: 75px;
      border-radius: 50px;
      border-width: 5px;
      border-color: #00548c;
      font-size: 20px;
      cursor: pointer;
  }
  .buttons button.btn_space {
      margin-left: 75px;
  }
  footer {
      width: 90%;
      left: 0;
  }
  footer h3 {
      margin: 0 auto;
      color: darkred;
      font-size: 35px;
      font-weight: bold;
      line-height: 35px;
      text-align: center;
  }
  .modal {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-out;
      position: absolute;
      background-color: aqua;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 10;
  }
  .modal .form, .modal .map {
      display: none;
  }
  .modal .map .info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 42px;
        text-align: center;
        margin-top: 85px;
  }
  .modal iframe {
        height: calc(100vh - 55px);
        margin-top: 55px;
  }
  .modal .form iframe {
      bottom: 120px;
  }
  .modal .map iframe {
      bottom: 50px;
  }
  .modal .buttons {
      position: absolute;
      bottom: 10px;
      width: 100%;
      left: 0;
      display: flex;
  }
  .modal .buttons button {
      margin: 0 auto;
  }
  
@media (max-width: 640px) {
    .content .letter {
        width: 35px;
    }

    .content .letter__small {
        width: 18px;
    }

    .content .shield {
        margin-top: 100px;
    }

    .modal .map .info {
        font-size: 31px;
    }
}

@media (max-width: 540px) {
    .content .letter--space-before {
        margin-left: 20px;
    }

    .content .letter--space-before__small {
        margin-left: 10px;
    }

    .content .letter__small {
        width: 14px;
    }

    .content .shield {
        margin-top: 40px;
    }

    .name .letter__small {
        width: 19px;
    }
}

@media (max-width: 480px) {
    .buttons {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 9;
    }

    .buttons button.btn_space {
        margin-left: 0;
    }

    .content .chars {
        height: 163px;
    }
}

@media (max-width: 450px) {
    footer h3 {
        font-size: 18px;
        line-height: 18px;
    }

    .content .letter {
        width: 32px;
    }

    .content .letter--space-before {
        margin-left: 17px;
    }

    .content .letter__small {
        width: 12px;
    }

    .content .letter--space-before__small {
        margin-left: 11px;
    }

    .name .letter__small {
        width: 21px;
    }

    .content .chars {
        height: 226px;
    }
}

@media (max-width: 400px) {
    .content .letter--space-before {
        margin-left: 12px;
    }

    .content .letter {
        width: 26px;
    }

    .content .letter__small {
        width: 12px;
    }

    .content .letter--space-before__small {
        margin-left: 9px;
    }

    .name .letter__small {
        width: 21px;
    }

    .description .subtitle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-height: 990px) {
    .content .shield .name-container {
        margin-top: 70px;
    }

    .content .name .letter__small {
        width: 17px;
    }
}

@media (max-height: 870px) {
    .content .shield {
        height: 570px
    }
}


@media (max-height: 790px) {
    .content .shield {
        margin: 34px 0;
        height: 570px;
        width: 170px;
    }

    .content .shield .name-container {
        margin-top: 53px;
    }

    .content .name .letter__small {
        width: 14px;
    }
}

@media screen and (max-width: 480px) and (max-height: 990px) {
    .content .shield {
        margin-top: 20px;
    }
}