.store-customer-login  
  form((ngSubmit)="login(loginObj)")
    p.login-intro
      |{{ 'store.customer-login-intro' | translate }}
    .form-group
      label
        |Email
      .input-container
        input(type="email", [(ngModel)]="loginObj.usuario", required, placeholder="Email", name="email")
    .form-group
      label
        |Senha
      .input-container
        input(type="password", [(ngModel)]="loginObj.senha", required, placeholder="Password", name="password")
        span
          |Forgot your password?          
    .form-group
      button(type="submit")
        |Login
