section#stores
	main.container
		h1
			|STORES
		.form
			form(method='post' action='#' name='stores')
				div(data-binding="location")
				select([(ngModel)]="selectLocation", [formControl]="form.controls['locations']", (ngModelChange)="onChange($event)")
					option(*ngFor="let i of items", [value]="i") {{i}}

section.location-box#store
	span.close-location((click)="close()")
		| close
	h1
		| STORES
	article
		h2
			| Brussels - Ixelles  .  Belgium
		p
			| Chée de Waterloo 506 - 1050 Ixelles
		p
			| Monday - Saturday: 10h to 19h
			br
			| Sunday: 11h to 17h
		p
			| +32 2 534 81 00
		figure
			img(src="../../assets/images/content/teste.jpg", alt="")
		agm-map([latitude]="lat", [longitude]="lng", [zoom]="zoom", [styles]="styles", [scrollwheel]="false", [streetViewControl]="false", [zoomControl]="false", [disableDoubleClickZoom]="true")
			agm-marker([latitude]="lat", [longitude]="lng", [iconUrl]="marker")
				agm-info-window([isOpen]="false")
					| Chée de Waterloo 506 - 1050 Ixelles