@import '../../assets/sass-tools/tools.scss';
#stores{
    position: absolute;
    background-color: #222222;
    background-image: url(../../assets/images/content/bg-stores.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    main.container{
        position: relative;
        width: 95%;
        height: auto;
        top: 50%;
        left: 50%;
        max-width: 497px;
        max-height: 130px;
        transform: translateX(-50%) translateY(-50%);
        h1{
            color: $w;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 2.5px;
            font-family: $crimsonRoman;
            text-align: center;
        }
        form{
            select > option {
                padding: 2.1em !important;
            }
            select{
                /*reset*/
                margin-top: 30px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                /*appearance*/
                cursor: pointer;
                padding: 1.1em 3.5em 1.1em 1.5em;
                outline: none;
                border: 0px;
                width: 100%;
                font-size: 1em;
                color: #363535;
                letter-spacing: 0.5px;
                font-family: $humans;
                background-image: url(../../assets/images/content/arrow-bg.png);
                background-position: 96%;
                background-repeat: no-repeat;
                font-weight: 600;
                transition: all 1.5s;
                &:focus{
                    box-shadow: -11px 1px 150px #000000
                }
                option{
                    outline: none;
                    font-weight: 600;
                }
            }
        }
    }
}
.location-box{
    display: none;
    &.open{
        display: block;
    }
    padding: 7em 2em 8em 8em;
    background-color: $w;
    position: absolute;
    top: 50%;
    left: 70%;
    width: 65%;
    height: 80%;
    z-index: 9;
    max-width: 1200px;
    max-height: 981px;
    transform: translateX(-60%) translateY(-50%);
    @media (max-width : 800px) and (orientation : portrait){
        width: 92%;
        transform: translateX(-72%) translateY(-50%);
    }
    @media (max-width: 800px) and (orientation: landscape){
        transform: translateX(-71%) translateY(-45%);
        padding: 2.7em 2em 5em 3em;
        width: 95%;
    }
    @media (max-width: 500px) and (orientation : portrait){
        width: 90%;
        transform: translateX(-72%) translateY(-50%);
        padding: 5em 2em 5em 3em;
    }
    span.close-location{
        position: absolute;
        color: #562500;
        font-family: $crimsonRoman;
        font-size: 15px;
        letter-spacing: 0.1em;
        font-weight: 400;
        font-style: italic;
        right: 4em;
        top: 2em;
        cursor: pointer;
        &::after{
            content: '';
            background-color: #562500;
            width: 20px;
            opacity: 0.8;
            height: 1px;
            margin-left: 13px;
            position: absolute;
            margin-top: 10px;
        }
    }
    h1{
        color: #f3792d;
        font-family: $humans;
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: 1.2px;
    }
    ::-webkit-scrollbar-track {
        background-color: #e9e0d9;
    }
    ::-webkit-scrollbar {
        width: 2px;
        background: #e9e0d9;
    }
    ::-webkit-scrollbar-thumb {
        background: #aa927f;
    }
    article{
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100%;
        padding: 1em 0px;
        padding-right: 4em;
        margin-top: 2em;
        h2{
            color: #aa927f;
            font-family: $crimsonRoman;
            font-size: 1.4em;
            letter-spacing: 1.7px;
            font-weight: 200;
            margin-bottom: 2em;
            &::after{
                content: '';
                background-color: #562500;
                width: 14px;
                height: 1px;
                margin-left: 0px;
                display: block;
                margin-top: 2em;
            }
        }
        p{
            font-family: $crimsonRoman;
            color: #384044;
            font-size: 1em;
            font-weight: normal;
            margin-bottom: 1.2em;
            line-height: 1.6em;
        }
        figure{
            position: relative;
            max-width: 940px;
            max-height: 627px;
            overflow: hidden;
            margin: 4em 0em;
            img{
                width: 100%;
                height: 100%;
            }
        }
        agm-map {
            max-width: 940px;
            height: 627px;
            max-height: 627px;
            width: 100%;
            @media screen and (max-width : 500px){
                height: 10em;
            }    
        }
    }
}