section#partners
    #select-partner
        #title
            span.title([innerHTML]="'partners-list-title' | translate")

            span.desc([innerHTML]="'partners-list-description' | translate")
                

        #partners-list
            ul
                li(*ngFor="let partnerItem of partnersList")
                    a(routerLink="{{baseUrl}}/{{partnerItem.link}}")
                        span.bullet
                        span.city
                            |{{partnerItem.city}}
                        
                        span.country
                            |{{partnerItem.link.replace('-', ' ')}}
    #partner-map
        #button-label

        .center-icons
            svg-icon(src="../../assets/svg/map_center.svg")
        #map

app-experience