<div id="js_qr">
    <!--  <div class="container">
	
  	<object  id="iembedflash" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="320" height="240">
  		<param name="movie" value="camcanvas.swf" />
  		<param name="quality" value="high" />
		<param name="allowScriptAccess" value="always" />
  		<embed  allowScriptAccess="always"  id="embedflash" src="camcanvas.swf" quality="high" width="320" height="240" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" mayscript="true"  />
    </object>
	
    </div>
	<button onclick="captureToCanvas()">Capture</button><br>
	<canvas id="qr-canvas" width="640" height="480"></canvas> -->
	<h1>JSQRCode Scanner Demo</h1>
    <p>Hold a QR Code in front of your webcam.</p>
    <video  id="camsource" autoplay width="320" height="240">Put your fallback message here.</video>
    <canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>
    <h3 id="qr-value"></h3>
</div>
       
