section#peru-section
    div.text-content
        p.title([innerHTML]="'peru-title' | translate")
    
        p.desc([innerHTML]="'peru-desc' | translate")
        
    div.trail_1-content
          svg-icon(src="../../assets/svg/trail_1.svg") 
 
<app-experience></app-experience>
