//###################################################
// Global
//###################################################
@mixin border-alter($color, $width) {
    border-color: $color;
    border-width: $width;
    border-style: solid;
}

@function ps-em($psValue){
    @return $psValue / 1000 + em;
}

@mixin gradient($orient, $from, $to) {
    background: linear-gradient(to $orient, $from 0%, $to 100%);
    background: -moz-linear-gradient(to $orient, $from 0%, $to 100%);
    background: -webkit-linear-gradient(to $orient, $from 0%, $to 100%);
    background: -o-linear-gradient(to $orient, $from 0%, $to 100%);
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin transition($props...) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
    -ms-transition: $props;
}

@mixin transition-delay($props...){
    -webkit-transition-delay: $props; /* Safari */
    transition-delay: $props;
    -ms-transition-delay: $props;
    -o-transition-delay: $props;
    -moz-transition-delay: $props;
}

@mixin flexbox { //@include flexbox();
    display:-webkit-box; // old
    display:-moz-box; // old
    display:-ms-flexbox; // ie
    display:-webkit-flex; // new
    display:flex; // new
}

@mixin flex($values) { // @include flex(1, 2);
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -ms-flex:  $values;
    -webkit-flex:  $values;
    flex:  $values;
}

@mixin flexDisplay($justify){
    display: inline-flex;
    flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;

    justify-content: $justify;
    -mozjustify-content: $justify; 
    -webkit-justify-content: $justify;
    -ms-justify-content: $justify;
    -o-justify-content: $justify;
}

@mixin transform($trans){
    transform: $trans;
    -moz-transform: $trans;
    -webkit-transform: $trans;
    -ms-transform: $trans;
    -o-transform: $trans;
}

@mixin transform-origin($or){
    transform-origin: left center 0;
    -moz-transform-origin: left center 0;
    -webkit-transform-origin: left center 0;
    -ms-transform-origin: left center 0;
    -otransform-origin: left center 0;

}


@mixin transform-style($ts){
    transform-style: $ts;
    -moz-transform-style: $ts;
    -webkit-transform-style: $ts;
    -ms-transform-style: $ts;
    -o-transform-style: $ts;
} 

@mixin background-size($size){
    background-size: $size;
    -moz-background-size: $size;
    -webkit-background-size: $size;
    -ms-background-size: $size;
    -o-background-size: $size;
}

@mixin perspective($pr){
    perspective: $pr;
    -moz-perspective: $pr;
    -webkit-perspective: $pr;
    -ms-perspective: $pr;
    -o-perspective: $pr;
}

@mixin backface-visibility($bf){
    backface-visibility: $bf;
    -moz-backface-visibility: $bf;
    -webkit-backface-visibility: $bf;
    -ms-backface-visibility: $bf;
    -o-backface-visibility: $bf;
}

%custom_select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

%alignV{
    top: 50%;
    position: absolute;
    @include transform(translateY(-50%));
}

%alignH{
    left: 50%;
    position: absolute;
    @include transform(translateX(-50%));
}

%align{
    top: 50%;
    left: 50%;
    position: absolute;
    @include transform(translateX(-50%) translateY(-50%));
}

//###################################################
// Project
//###################################################

@mixin circle-bounce(){
    -webkit-animation: playAnimation 0.5s forwards;
    -moz-animation: playAnimation 0.5s forwards;
    -ms-animation: playAnimation 0.5s forwards;
    -o-animation: playAnimation 0.5s forwards;
    animation: playAnimation 0.5s forwards;

    @-webkit-keyframes playAnimation {
      0% { transform: scale(0); }
      30% { transform: scale(1.2);}
      60% { transform: scale(0.8);}
      90% { transform: scale(1.05);}
      100% { transform: scale(1);}
    }

    @-moz-keyframes playAnimation {
      0% { transform: scale(0); }
      30% { transform: scale(1.2);}
      60% { transform: scale(0.8);}
      90% { transform: scale(1.05);}
      100% { transform: scale(1);}
    }

    @-ms-keyframes playAnimation {
      0% { transform: scale(0); }
      30% { transform: scale(1.2);}
      60% { transform: scale(0.8);}
      90% { transform: scale(1.05);}
      100% { transform: scale(1);}
    }

    @-o-keyframes playAnimation {
      0% { transform: scale(0); }
      30% { transform: scale(1.2);}
      60% { transform: scale(0.8);}
      90% { transform: scale(1.05);}
      100% { transform: scale(1);}
    }

    @keyframes playAnimation {
      0% { transform: scale(0); }
      30% { transform: scale(1.2);}
      60% { transform: scale(0.8);}
      90% { transform: scale(1.05);}
      100% { transform: scale(1);}
    }
} 
.hamburger {
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 23px;
  height: 24px;
  display: inline-block;
  position: relative; 
  margin-top: 8px;
  }

.hamburger-inner {
  display: block;
  top: 50%;
  right: 0;
}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 21px;
    height: 2px;
    background-color: #FFF;
    border-radius: 0px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -6px; 
    }
  .hamburger-inner::after {
    bottom:-6px; 
    }


/*
 * Squeeze
 */

.hamburger--squeeze{
  .hamburger-inner{
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    &::before{
      transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    }

    &::after{
       transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
 
    &.isActive{
       
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{background-color: #FFF;}

      .hamburger-inner{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition-delay: 0.14s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);



        &::before{
          top: 0;
          opacity: 0;
          transition: top 0.1s ease, opacity 0.1s 0.14s ease;
        }

        &::after{
          bottom: 0;
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
}