
/* Vars ############### */
/* Fonts */

$crimsonItalic: 'crimsonitalic';
$crimsonRoman: 'crimsonroman';
$humans: 'humanst521_btroman';
$humansL: 'humanst521_lt_btlight';
$rougeScript:'Rouge Script', cursive;
$w: #ffffff;
$trs: all 0.5s;