@import './../../assets/sass-tools/tools.scss';

section#splash{
    width: 100%;
    height: 100vh;

    *{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    }

    #canvas-da-nasa{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
    }

    div.video{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%; 
        overflow: hidden;

        @include transition(height 0.2s ease-out);

        video{
            display: none;
         /* Make video to at least 100% wide and tall */
            min-width: 100%; 
            min-height: 100%; 

            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            height: auto;

            /* Center the video */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .video-content{
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            z-index: 1;
        } 

        &.first-video{
            height: 70%;
            z-index: 2;
            transition: height 1s ease-in-out 0.3s;
            .video-content{
                bottom: 129px;
                width: 336px;
                height: 304px;
                svg-icon{
                    cursor: pointer;
                    /deep/
                     
                    #begin_button{
                        transform:translate(104px, 280px);
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity 0.25s ease-out 1.25s;
                        .text-begin{
                            fill:#564638;
                            font-family:'Crimson-Roman';
                            font-size:17px;
                            letter-spacing:5px;
                        }
                    }
                    
                    #mask-choco-big-svg{                        
                        path{
                            stroke-width: 10;
                            stroke: #FFF;
                            fill-opacity: 0;
                            transition: stroke-dashoffset 0.5s ease-out, fill-opacity 0.5s ease-out;
                            
                            &:nth-child(1){
                                stroke-dasharray: 125;
                                stroke-dashoffset: 125;
                            }

                            &:nth-child(2){
                                stroke-dasharray: 62;
                                stroke-dashoffset: 62;
                            }

                            &:nth-child(3){
                                stroke-dasharray: 1012;
                                stroke-dashoffset: 1012;
                            }

                            &:nth-child(4){
                                stroke-dasharray: 1425;
                                stroke-dashoffset: 1425;
                            }

                            &:nth-child(5){
                                stroke-dasharray: 1246;
                                stroke-dashoffset: 1246;
                            }

                            &:nth-child(6){
                                stroke-dasharray: 106;
                                stroke-dashoffset: 106;
                            }

                            &:nth-child(7){
                                stroke-dasharray: 1514;
                                stroke-dashoffset: 1514;
                            }

                            &:nth-child(8){
                                stroke-dasharray: 62;
                                stroke-dashoffset: 62;
                            }

                            &:nth-child(9){
                                stroke-dasharray: 333;
                                stroke-dashoffset: 333;
                            }

                            &:nth-child(10){
                                stroke-dasharray: 62;
                                stroke-dashoffset: 62;
                            }
                        }
                        &.in{
                             path{
                                transition: stroke-dashoffset 2s ease-out;
                                &:nth-child(1){
                                    stroke-dashoffset: 85 !important;
                                }

                                &:nth-child(2){
                                    stroke-dashoffset: 30 !important;
                                }

                                &:nth-child(3){
                                    stroke-dashoffset: 980 !important;
                                }

                                &:nth-child(4){
                                    stroke-dashoffset: 1255 !important;
                                }

                                &:nth-child(5){
                                    stroke-dashoffset: 1126 !important;
                                }

                                &:nth-child(6){
                                    stroke-dashoffset: 80 !important;
                                }

                                &:nth-child(7){
                                    stroke-dashoffset: 1235 !important;
                                }

                                &:nth-child(8){
                                    stroke-dashoffset: 30 !important;
                                }

                                &:nth-child(9){
                                    stroke-dashoffset: 250 !important;
                                }

                                &:nth-child(10){
                                    stroke-dashoffset: 30 !important;
                                }
                            } 
                        }
                    }
                }
            }

            .video-content-small{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                top: 80px;
                width: 364px;
                height: 177px;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease-out;
                &.active{
                    opacity: 1;
                    pointer-events: auto;
                }
                svg-icon{
                    cursor: pointer;
                    width: 364px;
                    height: 177px;
                    /deep/{
                        svg{
                            width: 364px;
                            height: 177px;
                            .st0{fill:#22A813;}
                            .st1{enable-background:new    ;}
                            .st2{fill:#E9E0D9;}
                            .st3{fill:#FFFEFE;}
                            .st4{fill:#FFFFFF;}
                            .st5{opacity:0.9804;}
                            .st6{opacity:0.6;}
                            .st7{fill:#FBFBFB;}
                            path, g{
                                // stroke-width: 1;
                                // stroke: #FFF;
                                // fill-opacity: 0;
                                // transition: stroke-dashoffset 0.1s ease-out, fill-opacity 0.5s ease-out;
                                transform-origin: center center;
                            }

                            #haute{
                                opacity: 1;
                                transition: opacity 0.25s ease-out, transform 0.25s ease out;
                            }#from{
                                opacity: 1;
                                transition: opacity 0.25s ease-out 0.1s, transform 0.25s ease-out 0.1s;
                            }
                            #drag{
                                opacity: 0;
                                transform-origin: center center;
                                transform: scale(1.5) /* translate(2px, 56px) */;
                                transition: opacity 0.25s ease-out, transform 0.25s ease-out;
                            }

                            &:hover,&.active{
                                #haute,#from{
                                    opacity: 0;
                                    transform: scale(0.5);
                                }
                                #drag{
                                    transition: opacity 0.25s ease-out 0.2s, transform 0.25s ease-out 0.2s;
                                    opacity: 1;
                                    transform: scale(1)/*  translate(27px,82px) */;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.second-video{
            bottom: 0;
            top: inherit;
            height: 29.8%;
            .video-content{
                bottom: 80px;
                width: 144px;
                height: 160px;
                transition: opacity 0.2s ease-out;
                svg-icon{
                    cursor: pointer;
                    /deep/{
                        svg{
                            -webkit-touch-callout: none; /* iOS Safari */
                            -webkit-user-select: none;   /* Chrome/Safari/Opera */
                            -khtml-user-select: none;    /* Konqueror */
                            -moz-user-select: none;      /* Firefox */
                            -ms-user-select: none;       /* Internet Explorer/Edge */
                            user-select: none;           /* Non-prefixed version, currently not supported by any browser */
                            width: 144px;
                            height: 160px;
                            path{
                                transform-origin: center center;
                            }
                            #our{
                                opacity: 1;
                                transition: opacity 0.25s ease-out, transform 0.25s ease out;
                            }#chocolate{
                                opacity: 1;
                                transition: opacity 0.25s ease-out 0.1s, transform 0.25s ease-out 0.1s;
                            }
                            #drag{
                                opacity: 0;
                                transform-origin: center center;
                                transform: scale(1.5) translate(2px, 56px);
                                transition: opacity 0.25s ease-out, transform 0.25s ease-out;
                            }

                            &:hover,&.active{
                                #our,#chocolate{
                                    opacity: 0;
                                    transform: scale(0.5);
                                }
                                #drag{
                                    transition: opacity 0.25s ease-out 0.2s, transform 0.25s ease-out 0.2s;
                                    opacity: 1;
                                    transform: scale(1) translate(27px,82px);
                                }
                            }
                        }
                    }
                }
            }

            .video-content-big{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                bottom: 80px;
                width: 330px;
                height: 201px;
                opacity: 0;
                pointer-events: none;
                &.active{
                    opacity: 1;
                    pointer-events: auto;
                }
                svg-icon{
                    cursor: pointer;
                    /deep/{
                        svg{
                            -webkit-touch-callout: none; /* iOS Safari */
                            -webkit-user-select: none;   /* Chrome/Safari/Opera */
                            -khtml-user-select: none;    /* Konqueror */
                            -moz-user-select: none;      /* Firefox */
                            -ms-user-select: none;       /* Internet Explorer/Edge */
                            user-select: none;           /* Non-prefixed version, currently not supported by any browser */
                            width: 330px;
                            height: 201px;
                            .st0{
                                fill:#564638;
                                stroke: #564638;
                            }
                            .st1{
                                opacity:0.5;
                            }
                            .st2{
                                fill:#FFFFFF;
                                stroke: #FFFFFF;
                            }
                            .st3{
                                fill:#AA927F;
                                stroke: #AA927F;
                            }
                            .st4{
                                fill:#CCBDB2;
                                stroke: #CCBDB2;
                            }
                            #mask-our-content{
                                path{
                                    stroke-width: 6;
                                    stroke: #FFF;
                                    fill-opacity: 0;
                                    transition: stroke-dashoffset 0.5s ease-out, fill-opacity 0.5s ease-out;
                                    stroke-dasharray: 1500;
                                    transform-origin: center center;
                                    stroke-dashoffset: 0;
                                }

                                &.in{
                                     path{
                                        transition: stroke-dashoffset 2s ease-out;
                                        stroke-dashoffset: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}