section#splash
	canvas#canvas-da-nasa()
	div.video.first-video
		video(autoplay,muted, loop, data-width="1280", data-height="720")
			source(src="./../../assets/video/plantation.mp4", type="video/mp4")
		
		div.video-content
			svg-icon(src="../../assets/svg/choco-svg.svg")

		div.video-content-small
			svg-icon(src="../../assets/svg/from-cocoa.svg")

 
	div.video.second-video 
		video(autoplay,muted, loop, data-width="1280", data-height="720")
			source(src="./../../assets/video/chocolate.mp4", type="video/mp4")

		div.video-content
			svg-icon(src="../../assets/svg/choco2.svg")

		div.video-content-big
			svg-icon(src="../../assets/svg/our.svg")
		