section#splash
	-var n = 0;
		.mosaic
			while n < 20
				.mosaic__item
					-n++
					.mosaic__item--hit-area
					.mosaic__item--container
						.mosaic__item--container--front
						.mosaic__item--container--back
	#stories