div.store-module
  h1
    |TITULO {{ 'store.store-welcome-message' | translate }}
  ul.categories-list
    li(*ngFor="let cat of categories")
      span
        |{{cat.Name + ' ' + cat.Id }}
      p(title="Imagem Category")
        |{{cat.Image}}
      p
        |{{cat.slug}}
