section#gallery
	div.close-btn((click)="closeGallery()")
		p([innerHTML]="'close' | translate",(click)="closeGallery()")

	div.image
		figure.current([style.background]="image")
		figure.next([style.background]="nextImage")

	div.slider-box
		div.slider-left
			p.slider-title
				|{{title}}

			p.slider-desc
				| {{desc}}

		div.slider-right
			div.slider-content
				span.slider-arrow-left((click)="lastItem()")
					svg-icon(src="../assets/svg/arrow.svg")


				div.slider-indicator
					p.current 
						|{{current}} 
					span.divisor

					p.total
						|{{total}}

				span.slider-arrow-right((click)="nextItem()")
					svg-icon(src="../assets/svg/arrow.svg")