section#experience
    div.menu
        nav
            li(routerLink="/en/experiences/peru")#peru
                p.number 01
                
                p.title
                    |our plantation in peru from tree to chocolate

            li#partners(routerLink="/en/experiences/partners")
                p.number 02
                
                p.title
                    |our planting partners

            li
                p.number 03
                
                p.title
                    |a sustainable business

            li
                p.number 04
                
                p.title
                    |Cacaofèvier From bean to chocolate
            
            li
                p.number 05
                
                p.title
                    |Benoît Nihant

            li
                p.number 06
                
                p.title
                    |Meet the team