section#fakemoduletodev
	p([innerHTML]="'svjola' | translate")
	div.trail_1-content
			svg-icon(src="../../assets/svg/trail_1.svg") 
 
	//- div.trail_1-content
	//- 	svg-icon(src="../../assets/svg/trail_1.svg") 

	//- div.trail_3-content
	//- 	svg-icon(src="../../assets/svg/trail_3.svg")

	div.trail_4-content
		svg-icon(src="../../assets/svg/trail_4.svg")


